<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true" access-denied-page="/forbidden">
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		<intercept-url pattern="/forbidden" access="permitAll" />
		<intercept-url pattern="/error404" access="permitAll" />
   		<intercept-url pattern="/exception" access="permitAll" />
		<intercept-url pattern="/*" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login" 
			default-target-url="/"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
		
		<remember-me key="#{staticSaltSource.systemWideSalt}" services-ref="rememberMeServices" />
		<logout invalidate-session="true" logout-url="/logout" logout-success-url="/login?logout" />
		<session-management>
			<concurrency-control expired-url="/login?expired"/>
		</session-management>
		<csrf />
	</http>

 	<authentication-manager>  
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder">
            	<salt-source ref="passwordSaltSource"/>
            </password-encoder> 
        </authentication-provider>  
    </authentication-manager> 
    
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
    
	<beans:bean id="passwordSaltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="salt" />
	</beans:bean>
	
	<beans:bean id="staticSaltSource" class="org.springframework.security.authentication.dao.SystemWideSaltSource">
		<beans:property name="systemWideSalt" value="jay" />
	</beans:bean>
	
	<!-- 从数据库加载UserDetails的UserDetailsService -->
    <beans:bean id="userDetailsService" class="com.jay.web.security.AuthUserDetailsService" />
     
    <!-- 604800s =7*24*3600 s = 1 week -->
    <beans:bean id="rememberMeServices"	class="com.jay.web.security.IPTokenBasedRememberMeServices">
		<beans:property name="key" value="#{staticSaltSource.systemWideSalt}" />
		<beans:property name="tokenValiditySeconds" value="604800" />
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="parameter" value="_remember_me" />
		<beans:property name="cookieName" value="REMEMBER_ME" />
	</beans:bean>
	
	<!-- 访问决策器，决定某个用户（具有的角色）是否有足够的权限去访问某个资源 -->  
<!-- 	<beans:bean id="accessDecisionManager"  class="com.jay.web.security.AuthAccessDecisionManager"> -->
<!-- 		<beans:property name="decisionVoters"> -->
<!-- 			<beans:list> -->
<!-- 				<beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter" /> -->
<!-- 		 	</beans:list> -->
<!-- 		</beans:property> -->
<!-- 	</beans:bean>  -->
	
<!--     <beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">   -->
<!--         <beans:property name="basename" value="classpath:messages" />   -->
<!--     </beans:bean>   -->
    <beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" /> 
</beans:beans>